##
## Application Environment Variables
##
CANONICAL_HOSTS=localhost:3000,127.0.0.1:3000,proxy.prx.test
CORPORATE_HOST=corporate.prx.tech
EXCHANGE_HOST=exchange.prx.org
HELP_HOST=help.prx.org
LISTEN_HOST=beta.prx.org
PORT=3000
PRX_SESSION_KEY=_prx_session
