##
## Application Environment Variables
##
CANONICAL_HOSTS=localhost,127.0.0.1,proxy.prx.dev
CMS_HOST=cms.prx.org
CORPORATE_HOST=corporate.prx.tech
EXCHANGE_HOST=exchange.prx.org
LISTEN_HOST=beta.prx.org
PORT=3000
PRX_SESSION_KEY=_prx_session
